<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xst.repository.ExamPaperQuestionCustomerAnswerMapper" >
  <resultMap id="BaseResultMap" type="com.xst.domain.ExamPaperQuestionCustomerAnswer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="question_id" property="questionId" jdbcType="INTEGER" />
    <result column="exam_paper_id" property="examPaperId" jdbcType="INTEGER" />
    <result column="exam_paper_answer_id" property="examPaperAnswerId" jdbcType="INTEGER" />
    <result column="question_type" property="questionType" jdbcType="INTEGER" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="customer_score" property="customerScore" jdbcType="INTEGER" />
    <result column="question_score" property="questionScore" jdbcType="INTEGER" />
    <result column="question_text_content_id" property="questionTextContentId" jdbcType="INTEGER" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="text_content_id" property="textContentId" jdbcType="INTEGER" />
    <result column="do_right" property="doRight" jdbcType="BIT" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="item_order" property="itemOrder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, question_id, exam_paper_id, exam_paper_answer_id, question_type, subject_id, 
    customer_score, question_score, question_text_content_id, answer, text_content_id, 
    do_right, create_user, create_time, item_order
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_exam_paper_question_customer_answer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_exam_paper_question_customer_answer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xst.domain.ExamPaperQuestionCustomerAnswer" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_exam_paper_question_customer_answer (question_id, exam_paper_id, exam_paper_answer_id, 
      question_type, subject_id, customer_score, 
      question_score, question_text_content_id, answer, 
      text_content_id, do_right, create_user, 
      create_time, item_order)
    values (#{questionId,jdbcType=INTEGER}, #{examPaperId,jdbcType=INTEGER}, #{examPaperAnswerId,jdbcType=INTEGER}, 
      #{questionType,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER}, #{customerScore,jdbcType=INTEGER}, 
      #{questionScore,jdbcType=INTEGER}, #{questionTextContentId,jdbcType=INTEGER}, #{answer,jdbcType=VARCHAR}, 
      #{textContentId,jdbcType=INTEGER}, #{doRight,jdbcType=BIT}, #{createUser,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{itemOrder,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xst.domain.ExamPaperQuestionCustomerAnswer" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_exam_paper_question_customer_answer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="examPaperId != null" >
        exam_paper_id,
      </if>
      <if test="examPaperAnswerId != null" >
        exam_paper_answer_id,
      </if>
      <if test="questionType != null" >
        question_type,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="customerScore != null" >
        customer_score,
      </if>
      <if test="questionScore != null" >
        question_score,
      </if>
      <if test="questionTextContentId != null" >
        question_text_content_id,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="textContentId != null" >
        text_content_id,
      </if>
      <if test="doRight != null" >
        do_right,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="itemOrder != null" >
        item_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="examPaperId != null" >
        #{examPaperId,jdbcType=INTEGER},
      </if>
      <if test="examPaperAnswerId != null" >
        #{examPaperAnswerId,jdbcType=INTEGER},
      </if>
      <if test="questionType != null" >
        #{questionType,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="customerScore != null" >
        #{customerScore,jdbcType=INTEGER},
      </if>
      <if test="questionScore != null" >
        #{questionScore,jdbcType=INTEGER},
      </if>
      <if test="questionTextContentId != null" >
        #{questionTextContentId,jdbcType=INTEGER},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="textContentId != null" >
        #{textContentId,jdbcType=INTEGER},
      </if>
      <if test="doRight != null" >
        #{doRight,jdbcType=BIT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemOrder != null" >
        #{itemOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xst.domain.ExamPaperQuestionCustomerAnswer" >
    update t_exam_paper_question_customer_answer
    <set >
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=INTEGER},
      </if>
      <if test="examPaperId != null" >
        exam_paper_id = #{examPaperId,jdbcType=INTEGER},
      </if>
      <if test="examPaperAnswerId != null" >
        exam_paper_answer_id = #{examPaperAnswerId,jdbcType=INTEGER},
      </if>
      <if test="questionType != null" >
        question_type = #{questionType,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="customerScore != null" >
        customer_score = #{customerScore,jdbcType=INTEGER},
      </if>
      <if test="questionScore != null" >
        question_score = #{questionScore,jdbcType=INTEGER},
      </if>
      <if test="questionTextContentId != null" >
        question_text_content_id = #{questionTextContentId,jdbcType=INTEGER},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="textContentId != null" >
        text_content_id = #{textContentId,jdbcType=INTEGER},
      </if>
      <if test="doRight != null" >
        do_right = #{doRight,jdbcType=BIT},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemOrder != null" >
        item_order = #{itemOrder,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xst.domain.ExamPaperQuestionCustomerAnswer" >
    update t_exam_paper_question_customer_answer
    set question_id = #{questionId,jdbcType=INTEGER},
      exam_paper_id = #{examPaperId,jdbcType=INTEGER},
      exam_paper_answer_id = #{examPaperAnswerId,jdbcType=INTEGER},
      question_type = #{questionType,jdbcType=INTEGER},
      subject_id = #{subjectId,jdbcType=INTEGER},
      customer_score = #{customerScore,jdbcType=INTEGER},
      question_score = #{questionScore,jdbcType=INTEGER},
      question_text_content_id = #{questionTextContentId,jdbcType=INTEGER},
      answer = #{answer,jdbcType=VARCHAR},
      text_content_id = #{textContentId,jdbcType=INTEGER},
      do_right = #{doRight,jdbcType=BIT},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      item_order = #{itemOrder,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>